<!-- 相当于给模板定义一个名字 define end 成对出现-->
{{ define "frontend/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!--  插入公共模板 -->
   {{template "public/page_header.html" .}}
    <h2>{{.title}}</h2>
    <p>
        {{with .real}}
        <h4>{{.Title}}</h4>
        <h4>{{.Content}}</h4>
        {{end}}
        
    </p>
    <!-- 预定义函数len，用来获取长度，此处的title为“标题”，显示为6 -->
    <p>{{len .title}}</p>
    {{$test1 := .title}}
    <p>{{$test1}}</p>

    <!-- 自定义模板函数 -->

    <p>{{UnixToTime .date}}</p>
    <p>{{Splicing .title .real.Content}}</p>
</body>
</html>
{{ end }}